* {
    border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}
window#waybar {
    background: rgba(0, 0, 0, 0.55);
}

window#waybar.empty #window {
    background-color: transparent;
}

window#waybar.fullscreen {
    background: rgba(0, 0, 0, 0);
}
/*module left*/
#custom-wofi {
    border-radius: 4px;
    margin: 6px 6px;
    padding: 6px 12px;
    background-color: rgba(38, 38, 46, 0.9);
    color: rgba(0, 183, 255, 1);
    font-size: 15px;
}


#workspaces button {
    padding: 6px 18px;
    margin: 6px 3px;
    border-radius: 4px;   
    background-color: rgba(30, 30, 46, 0.55);
    color: rgba(255, 255, 255, 1);
}

#workspaces button:hover {
    box-shadow: none;     
    text-shadow: none;
    background-image: none;
    border: none;
    outline: none;
    background-color: rgba(205, 214, 244, 0.65);
    color: rgba(0, 0, 0, 1);
    transition: all 0.2s ease;  
}

#workspaces button.active {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(205, 214, 244, 0.85); 
}

#cava {
    font-size: 14px;
    color: #a6e3a1;            
    padding: 0 10px;
    margin: 0 5px;
}
/*module center*/
#clock {
    padding: 6px 15px;
    margin: 6px 3px;
    color: rgba(255, 255, 255, 1);
}

/*module right*/
#cpu {
    padding: 0px 12px;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 3px;
}

#memory {
    padding: 0px 12px;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 3px;
}
 
#temperature {
    padding: 0px 12px;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 3px;
 
}

#pulseaudio {
    padding: 0px 12px;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 3px;

}

#battery {
    padding: 0px 12px;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 3px;
 
}
#network {
    padding: 0px 12px;
    color: rgba(255, 255, 255, 1);
    border-radius: 3px;
}

tooltip {
    border-radius: 8px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

tooltip label {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5); 
}	
