* {
    border-radius: 4px;
    border: none;
}

window {
    color: #ffffff;
    font-size: 18px;
    font: "Roboto Mono Medium";
    background-color: rgba(26, 26, 26, 0.85);
}
#entry {
    padding: 10px;
}
#entry:selected {
    background-color: rgba(251, 181, 255, 0.85);
    color: #333333;
}
#text:selected {
    color: #000000;
}
#input {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
}
